<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <!--  Adding filter to moskito ui which redirects requests to /mui/* to moskito user interface -->
    <filter>
        <filter-name>MoskitoUIFilter</filter-name>
        <filter-class>net.anotheria.moskito.webui.MoskitoUIFilter</filter-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/mui/</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MoskitoUIFilter</filter-name>
        <url-pattern>/mui/*</url-pattern>
    </filter-mapping>


    <!-- Processes application requests -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            net.anotheria.moskito.webui.util.StartStopListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            net.anotheria.moskito.webui.util.SetupPreconfiguredAccumulators
        </listener-class>
    </listener>


</web-app>
